.home-container {
  margin-top: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-left {
  width: 45vw;
}

.home-left h1 {
  font-size: 10vmin;
  line-height: 1.2;
  text-align: center;
  /* color: #d34a2c; */
  margin: 10px 0;
}

.home-left h1 span {
  color: var(--color-hometext);
}
.home-left h1 span:first-child {
  color: var(--color-spantext);
}

.home-right img {
  width: 40dvw;
  height: 100%;
}
.home-left .cta-button {
  width: 25vw;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.home-left button {
  font-size: 1rem;
  border-radius: 7px;
  /* width: 35%;   */
  min-width: 35%;
  padding: 0.8em;
  text-align: center;
  border: none;
  outline: none;
  background: var(--color-spantext);
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .home-container {
    flex-direction: column;
  }

  .home-left {
    width: 75vw;
  }

  .home-left h1 {
    font-size: 12vmin;
  }
  .home-left .cta-button {
    width: 50dvw;
    /* justify-content: center; */
  }
  .home-left button {
    width: 30%;
    min-width: fit-content;
    font-size: 0.9rem;
  }
  .home-right img {
    width: 95vw;
  }
}
